@using PetsCareProject.Models;
@using PetsCareProject.Utilities;
@model IList<ViewProductFeatured>

<style>
    .redhover {
        font-weight: 500;
        font-size: 16px;
    }
    .redhover:hover {
        color: red;
        text-decoration: underline;
    }

    .product_price {
        font-weight: 500;
        font-size: 18px;
        color: green;
        margin-left: 8px;
    }
    .price {
        font-weight: 500;
        font-size: 16px;
        color: red;
        text-decoration: line-through;
    }

    .price_container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<div class="row featured__filter">
    @foreach (var item in Model)
    {
        string url = Functions.TitleSlugGeneration("product", item.ProductName, item.ProductID);
        <div class="col-lg-3 col-md-4 col-sm-6 filter @item.DataFilter">
            <div class="featured__item">
                <div style="border-radius: 4px" class="featured__item__pic set-bg" data-setbg="@item.Image">
                    <ul class="featured__item__pic__hover">
                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                        <li><a href="/@url"><i class="fa fa-info-circle"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
                <div class="featured__item__text">
                    <h6><a class="redhover" href="/@url">@item.ProductName</a></h6>
                    <p class="price_container">
                        <span class="price">@String.Format("{0:0,00}", item.Price) đ</span>
                        <span class="product_price">@String.Format("{0:0,00}", item.TotalPrice) đ</span>
                    </p>
                </div>
            </div>
        </div>

    }
</div>