@using PetsCareProject.Models;
@using PetsCareProject.Utilities;
@model IList<tblPosts>

<div class="row">
    @foreach (var item in Model)
    {
        string url = Functions.TitleSlugGeneration("post", item.Title, item.PostID);
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="blog__item">
                <div class="blog__item__pic">
                    <img src="@item.Thumb" alt="" style="min-height: 240px;">
                </div>
                <div class="blog__item__text">
                    <ul>
                        <li><i class="fa fa-calendar-o"></i> @item.CreatedDate?.ToString("dd-MM-yyyy")</li>
                        <li><i class="fa fa-user-o"></i> @item.Author</li>
                    </ul>
                    <h5><a href="/@url">@item.Title</a></h5>
                    <p>@item.Abstract </p>
                </div>
            </div>
        </div>
    }

</div>
